.home-container{
    height: 250px;
    color: white;
    padding-left: 170px;
}
.home-content h2 {
    padding: 5px;
    padding-top: 70px;
/* margin-left: 150px;*/
}

.home-content h1 {
    padding: 5px;
    color: bisque;
    /*margin-left: 150px;*/
}
.home-buttons{
    /*margin-left: 150px;*/
    margin-top: 10px;
}
.home-buttons .btn-hire{
    background-color: blue;
    color: white;
    width: 160px;
    
}
.home-buttons .btn-hire:hover{
    background-color: white;
    color: blue;
    width: 200px;
    transition: 1s;
}
.home-buttons .btn-cv{
    background-color: #f29f67;
    color: white;
    width: 160px;
    margin-left: 15px;
}
.home-buttons .btn-cv:hover{
    opacity: 60%;
    transition: 1s;
}