.TechStack{
    padding-left: 170px;
    margin-top: 60px ;
   
}
.TechStack hr{
    color: blue;
    width:400px;
    margin: 10px auto;
}
.TechStack h2{
    font-weight: bold;
    color: blue ;
}
.TechStack .card{
    cursor: pointer;
    
}
.TechStack .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#138781;
    color: white;
    border: none;
    transition: 1s;
}
